@keyframes example {
    0%   {opacity: 0.1;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100% {opacity: 1.0;}
}

.blueBackground{
    background-color: #3E50F3;
}
.whiteFont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
}

div.photo{
    animation-name: example;
    animation-duration: 3s;
}
div.homePageDiv{
    text-align: left;
    width: 60%;
    height: 100%;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    overflow: auto;
    background-color: #3E50F3;
    border-radius: 2%;
}
span.story{
    color: black;
    text-align: left;
    font-weight: bold;
    font-size: 18;
}
table.center{
text-align: center;
}
table.photo
{
    animation-name: example;
    animation-duration: 3s;
}
