<!--page for admin's alerta -->
<form name="form" class="form-horizontal" invalid>
    <h1>
        {{message}}
    </h1>
    <!--iban ordinante -->
    <div class="form-group formElementCenter">
        <input type="text" name="countNumberOrd" class="form-control" ng-model="countNumberOrd" placeholder="Scrivi qui il numero di conto dell'ordinante"
            required>
        </input>
    </div>
    <!--iban beneficiante -->
    <div class="form-group formElementCenter">
        <input type="text" name="countNumberBen" class="form-control" ng-model="countNumberBen" placeholder="Scrivi qui il numero di conto  del beneficiante"
            required>
        </input>
    </div>
    <!--importo -->
    <div class="form-group formElementCenter">
        <input type="number" name="payment" class="form-control" ng-model="payment" placeholder=" Scrivi qui l'importo del bonifico"
            required ng-blur="checkImport()">
        </input>
        <span class="leftAlignError" ng-show="form.payment.$invalid">
                {{paymentErrors.error}} 
        </span>
    </div>
    <!--submit button -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="makeTransaction()">Esegui Bonifico</button>
    </div>
</form>