<!--page for admin's alerta -->
<form class="form-group">
    <h1> Benvenuto, da qui potrai scrivere un avviso da inviare a tutti coloro che posseggono un conto Bancario presso la nostra Banca!
        <br>
        Ricorda che l'avviso dovrà avere almeno 20 caratteri!
    </h1>
    <div class="form-group">
        <textarea name="alert" rows="8" class="form-control adminTextArea" ng-model="alert" placeholder="Scrivi qui l'avviso che vuoi inviare a tutti">
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="createAlert()" ng-disabled="textAreaInvalida()">Invia avviso</button>
    </div>
</form>