<!--page for admin's alerta -->
<form class="form-group" name="form">
    <h1>
        {{message}}
    </h1>
    <div class="form-group formElementCenter">
        <textarea name="alert" rows="8" class="form-control adminTextArea" ng-model="alert" placeholder="Scrivi qui l'avviso che vuoi inviare a tutti">
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="createAlert()" ng-disabled="textAreaInvalida()">Invia avviso</button>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-click="getAlerts()">Leggi gli ultimi cinque avvisi creati</button>
    </div>
</form>
<div ng-repeat="avviso in alerts">
    <ul class="list-group">
        <li class="list-group-item adminAlertTitle">{{avviso.title}}</li>
        <li class="list-group-item adminAlertDescription">{{avviso.text}}</li>
        <li class="list-group-item adminAlertDate">{{avviso.date}}</li>
    </ul>
</div>