body {
    height:100%;
    width:100%;
}
body.whiteBackground{
background-color: white;
padding-top: 3%;
}

.fillSpace{
    min-width: 100%;
    max-height: 100%;
}

img.leftAlign{
text-align: center;
 min-width: 20%;
 max-width: 70%;
 min-height: 20%;
 max-height: 70%;
 
}


span.username{
font-family: 'Times New Roman', Times, serif;
font-size: 25;
font-weight:bold;
color:  black;
}

.statistics{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
    float: center;
    font-weight:bold;
    color:  black;
    text-align: center;
}

.statisticsTitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
    float: center;
    font-weight:bold;
    color:  #3E50F3;
    text-align: center;
}


span.title{
text-align: center;
color: #3E50F3;
font-family: 'Times New Roman', Times, serif;
font-size: 18;
font-weight:bold;
}

div.userFunction{
    width:100%; 
    height:30%;
    border-radius: 3%;    
    background-color: white;
    float: center;
    border: solid;
    border-style: ridge;    
    border-color: #3E50F3;
    align-items: center;
    text-align: center;    
}

ul.leftAlign{
    float: left;
    width: 19%;
    height: 100%;
    border-style: ridge;    
    border-color: #3E50F3;
    border-radius: 3%;            
}

ul.rightAlign{
    float: right;
    width: 19%;
    height: 100%;
    border-style: ridge;    
    border-color: #3E50F3;
    border-radius: 3%;            
}

ul.limitSpace{
    min-width: 20%;
    max-width: 100%;
    min-height: 20%;
    max-height: 100%;
    border-radius: 3%;
    border-style: ridge;
    border-color:blue;
}

div.userStatistics{
    width:50%; 
    height:100%;
    border-radius: 3%;    
    background-color: white; 
    float: center ;
    border-style: ridge;   
    color:  #3E50F3	;
    border-color: #3E50F3;
    overflow-y: auto;    
}
div.Graph{
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}
div.graphEntrance{
    width: 30%;
    height: 40%;
}

label.username{
color: black;
font-family: Arial, Helvetica, sans-serif;
}

button.userArea{
    background-color:white;	
    float: center;
    width: 100%;
    height: 46.8%;
    color: black;
}

table.center{
    text-align: center;
    float: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: solid;
     border-color:green;
}

.limitSpaceTo70{
max-width: 70%;
border-style: solid;
border-color: red;
}
.coverAll{
height: 100%;
width: 100%;
}


