body {
    height:100%;
    width:100%;
}
body.whiteBackground{
background-color: lightgray;
padding-top: 3%;
}

.imgHolder{
    display: block;
    position: relative;
    width:100%;
    height:50%;
}
.fillSpace{
    min-width: 100%;
    max-height: 100%;
}

img.leftAlign{
float: left;
text-align: center;
 min-width: 40%;
max-height: 100%;
}
.fillSpaceHorizontally{
    min-width: 100%;
}

span.username{
font-family: 'Times New Roman', Times, serif;
font-size: 25;
font-weight:bold;
color:  black;
}

.statistics{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
    float: center;
    font-weight:bold;
    color:  black;
    text-align: center;
}

.statisticsTitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
    float: center;
    font-weight:bold;
    color:  #3E50F3;
    text-align: center;
}
.display-bottomleft{
    position:absolute;
    left:0;
    bottom:0;
    color: black;
}

span.title{
text-align: center;
color: #3E50F3;
font-family: 'Times New Roman', Times, serif;
font-size: 18;
font-weight:bold;
}
div.userFunction{
    width:100%; 
    height:25%;
    background-color: white;
    float: left;
    border-style: ridge;    
    border-color: #3E50F3;
    align-items: center;
}

div.userStatistics{
    width:70%; 
    height:100%;
    background-color: white; 
    float: right ;
    border-style: ridge;   
    color:  #3E50F3	;
    border-color: #3E50F3;
    overflow-y: auto;    
}
div.Graph{
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}
div.graphEntrance{
    width: 30%;
    height: 40%;
}

label.username{
color: black;
font-family: Arial, Helvetica, sans-serif;
}

button.userArea{
    background-color:white;	
    width: 100%;
    height: 50%;
    color: black;
}

.coverAll{
height: 100%;
width: 100%;
}


